<style>
.prompt{display: None;}

div.cell{
    margin: auto;
    width:1000px;}

div #notebook { /* centre the content */
    background: #fff;
    margin: auto;
    padding: 0em;
    padding-top: 1em;
}
div #notebook_container {width: 1000px!important;}

/* More space between bullet points :*/
#notebook li { 
    margin-top:0.6em;
}

h1 {
    font-size:  48pt!important;
    text-align:  center;
    text-shadow: 4px 4px 4px #aaa;
    padding-bottom: 48pt;
}
h1 span {
   background: #bcebf4;
   padding: 14px 14px;
   line-height: 1.4;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
h2 {
    font-family: 'Montserrat', Verdana, Geneva, sans-serif;
    font-size:   38pt!important;
    text-align:  center;
    text-shadow: 4px 4px 4px #aaa;
    padding-bottom: 48pt;
}
h3 {
    font-family: 'Montserrat', Verdana, Geneva, sans-serif;
    font-size:   28pt!important;
    text-align:  center;
    text-shadow: 4px 4px 4px #aaa;
    padding-bottom: 48pt;
}
h4 {
    font-family: 'Montserrat', Verdana, Geneva, sans-serif;
    font-size:   18pt!important;
    text-align:  center;
    text-shadow: 4px 4px 4px #aaa;
    padding-bottom: 48pt;
}

.CodeMirror{
    font-family: Consolas, monospace;
    font-size: 120%;
    background-color:#fafcff!important;
}
.CodeMirror-lines {
  padding: 2px 0; /* Vertical padding around content */
}

div.cell{
   margin: auto;
   width:1000px;
}

div #notebook { /* centre the content */
    background: #fff;
    margin: auto;
    padding: 0em;
    padding-top: 1em;
}
div #notebook_container {width: 1000px!important;}

/* TODO: maybe we need to port this to main.css?  */
.reveal img {
    max-width: 98%;
}
</style>